@media print, (max-width: 767px) {

    :root {
        --font_size: 15px;
        --font_size_title: 26px;
    }
    
    .first-section_wrap {
        flex-direction: column;
    }
    .first-section_info {
        width: 100%;
    }
    .first-section_img {
        width: 100%;
        height: auto;        
        margin: -65px 0px -30px 20px;
    }
    .first-section_text {
        max-width: 100%;
    }
    .first-section ul {
        flex-direction: row;
    }
    




}
