@media print, (max-width: 1023px) {
 
    :root {
        --font_size: 15px;
        --font_size_title: 32px;
    }

    .first-section {
        margin-top: 30px;
    }
    .first-section_img {
        width: 400px;
        height: 374px;
    }
    .first-section_title {
        font-size: 36px;
        margin-bottom: 15px;
    }
    .first-section_info {
        width: calc(100% - 370px);
        margin-top: 0;
    }
    .first-section_pretitle {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 8px;
    }
    .first-section_text {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    .first-section ul {
        margin-top: 25px;
        margin-bottom: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .first-section_bottom-box {
        margin-top: 25px;
        overflow: auto;
    }
    .first-section_bottom-box::-webkit-scrollbar { 
        width: 0; 
    }
    .first-section_bottom-box { 
        -ms-overflow-style: none;         
    }
    .first-section_bottom-box { 
        overflow: -moz-scrollbars-none; 
    }
    .first-section_bottom-box img {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
    }
    .first-section_bottom {
        padding: 30px 0 10px;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
    }
    .improvement_item-title {
        font-size: 20px;
        line-height: 27px;
    }
    .improvement_item-text {
        font-size: 16px;
        line-height: 22px;
    }
    .level_title {
        font-size: 37px;
        line-height: 1.4;
    }
    .level_info {
        padding: 60px 35px;
    }
    .level_text {
        font-size: 18px;
        line-height: 1.5;
    }
    .promotion_items,
    .service_items {
        margin-left: -20px;
        margin-bottom: -20px;
    }
    .promotion_items > *,
    .service_items > * {
        width: calc(100%/3 - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }
    .promotion_item-title {
        font-size: 20px;
        margin-bottom: 7px;
        margin-top: 4px;
    }
    .advantages_title {
        margin-bottom: 30px;
        font-size: 32px;
    }
    .advantages_item {
        font-size: 18px;
        line-height: 1.5;
    }
    .information_item-img {
        width: 330px;
        height: 420px;
    }
    .information_item:nth-child(1) .information_item-img::before,
    .information_item:nth-child(3) .information_item-img::before,
    .information_item:nth-child(2) .information_item-img::after,
    .information_item:nth-child(1) .information_item-img::before {  
        display: none;
    }
    .information_item:nth-child(2n + 1) .information_item-desc {
        margin-left: 30px;
    }
    .information_item:nth-child(2n) .information_item-desc {
        margin-right: 30px;
        max-width: 100%;
    }
    .service_item-text {
        line-height: 1.5;
    }
    .reviews_item-text {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 18px;
    }
    .reviews_item-bottom {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .reviews_item-info {
        width: calc(100% - 435px);
    }
    .reviews_item-author {
        margin-bottom: 15px;
        text-align: left;
    }
    .progress .progress_wrap {
        flex-direction: column;
    }
    .progress form {
        width: 100%;
    }
    .progress .block_head {
        width: 100%;
    }
    .progress .block_head .desc {
        max-width: 100%;
    }
    .sector:after,
    .sector marquee:after,
    .video::before,
    .video .video_link::before {
        display: none;
    }
    .video_wrap {
        flex-direction: column;
    }
    .video .block_head {
        width: 100%;
    }
    .video .title {
        max-width: 100%;
    }
    .video .title br {
        display: none;
    }
    .desc br {
        display: none;
    }
    .callback .cont {
        flex-direction: column;
    }
    .callback:before,
    .callback_right:before,
    .callback_soc:before,
    .information_item:nth-child(1) .information_item-img::after,
    .information:before {
        display: none;
    }
    .callback_left {
        margin-right: 0px;
        width: 100%;
    }
    .callback_right {
        width: 100%;
    }
    .callback_soc {
        margin-bottom: 15px;
    }
    .callback_title {
        margin-bottom: 15px;
    }
    .callback_box {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    footer .cont {
        flex-direction: column;
    }
    .footer_left {
        margin-bottom: 27px;
    }
    footer {
        padding: 30px 0;
    }
    .accordion_item + .accordion_item {
        margin-top: 20px;
    }
    .reviews {
        padding: 40px 0 40px;
    }
    .standart {
        padding: 80px 0 60px;
    }
    .team {
        padding: 30px 0 30px;
        margin-top: 0;
    }
    .progress {
        padding: 40px 0 40px;
    }
    .sector {
        position: relative;
        padding: 50px 0 40px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .video {
        padding: 40px 0 40px;
    }
    .callback {
        padding: 40px 0 40px;
    }
    .accordion {
        padding: 50px 0 40px;
        margin-bottom: 30px;
        background-position: -497px center;
    }
    .improvement {
        padding: 40px 0 40px;
    }
    .first-section {
        padding-bottom: 20px;
    }
    .promotion {
        padding: 40px 0 40px;
    }
    .advantages {
        padding: 40px 0 40px;
    }
    .information {
        padding: 40px 0 60px;
    }
    .progress .block_head .title,
    .standart .title,
    .team .title {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .information,
    .service,
    .accordion {
        background: #F5F8FF;
    }
    .accordion {
        margin-bottom: 0;
    }
    .progress form button,
    .callback form button {
        width: 240px;
    }

  

    
}
