/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 88px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #000;
    --text_color2: #64607D;
    --text_bg1: #F33726;
    --text_bg2: #FD9B41;
    --font_size: 16px;
    --font_size_title: 42px;
    --font_family: 'Ubuntu';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}



/* header */

header {
    padding-top: 45px;
    padding-bottom: 17px;
    position: relative;
}
header:before {
    position: absolute;
    content: "";
    width: 900px;
    height: 820px;
    top: 0;
    left: 0;
    background: url(../images/header_bg.svg);
}
header .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo .icon {
    width: 131px;
    height: 49px;
}
.link {
    background: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
    border-radius: 82px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 29px;
    display: inline-block;
}


/* first-section */
.first-section {
    padding-top: 14px;
    padding-bottom: 54px;
}
.first-section_wrap {
    display: flex;
    justify-content: space-between;
}
.first-section_info {
    width: calc(100% - 450px);
    margin-top: 74px;
}
.first-section_pretitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 10px;
}
.first-section_title {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.03em;
    color: #000000; 
    margin-bottom: 39px;   
}
.first-section_title span {
    background: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.first-section_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #757095;
    margin-bottom: 34px;
    max-width: 550px;
}
.first-section .link {
    padding: 0 13px;
    line-height: 47px;
    height: 47px;
}
.first-section_img {
    margin-right: -360px;
    margin-top: -130px;
}
.first-section ul {
    margin-top: 89px;
    list-style: none;
    display: flex;
    align-items: center;
}
.first-section ul li {
    position: relative;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #757095;
    display: flex;
    align-items: center;
    margin-right: 28px;
}
.first-section ul li .icon  {
    color: #F57059;
    width: 18px;
    height: 18px;
    margin-right: 6px;
}
.first-section_bottom {
    padding: 63px 0 76px;
    position: relative;
    margin-left: -39px;
    margin-right: -22px;
}
.first-section_bottom:after {
    position: absolute;
    content: "";
    width: 2560px;
    height: 1px;
    background: #C4C4C4;
    opacity: 0.3;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.first-section_bottom:before {
    position: absolute;
    content: "";
    width: 2560px;
    height: 1px;
    background: #C4C4C4;
    opacity: 0.3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.center {
    text-align: center;
}
.first-section_bottom-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 41px;
}



/* improvement */
.improvement {
    padding: 104px 0 107px;
    position: relative;
    z-index: 1;
}
.improvement:after {
    position: absolute;
    content: "";
    width: 456px;
    height: 456px;
    top: 0;
    right: -228px;
    background: #F5F8FF;
    border-radius: 50%;
    z-index: 0;
}
.improvement .block_head {
    width: 360px;
}
.pre_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; 
    margin-bottom: 11px;
}
.title {
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #000000; 
}
.improvement .block_head .title {
    margin-bottom: 11px;
}
.desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    margin-bottom: 19px;
}
.block_head .link {
    max-width: 162px;
    padding: 0 8px;
}
.improvement_items {
    display: flex;
    margin-left: -160px;
    position: relative;
}
.improvement_items > * {
    width: calc(100%/3 - 160px);
    margin-left: 160px;  
}
.improvement_item {
    position: relative;
}
.improvement_item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000000;
}
.improvement_item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;    
}
.improvement_item-number {
    font-weight: 700;
    font-size: 204px;
    line-height: 204px;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.05;
    right: 0;
    top: -85px;
    position: absolute;
}
.improvement_item:nth-child(1) {
    margin-top: 205px;
    margin-left: 286px;
}
.improvement_item:nth-child(2) {
    margin-top: 72px;
    margin-left: 173px;
}
.improvement_item:nth-child(3) {
    margin-top: -174px;
    margin-left: 82px;
}
.improvement_item::after {
    position: absolute;
    content: "";
    top: -70px;
    left: 19px;
    width: 23px;
    height: 23px;
    background: #C4C4C4;
    border-radius: 50%;
    outline: 20px solid #fff;
}
.improvement_items::before {
    position: absolute;
    content: "";
    top: -239px;
    left: 135px;
    width: 1070px;
    height: 449px;
    background: url(../images/improvement_line.svg);
}



/* level */
.level {
    position: relative;
    z-index: 4;
}
.level .cont {
    max-width: 840px;
}
.level_info {
    background: url(../images/level_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 40px;
}
.level_title {
    font-weight: 700;
    font-size: 37px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.level_text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF; 
    max-width: 600px;
    width: 100%;
    margin-bottom: 21px;
}




/* promotion */
.promotion {
    padding: 126px 0 120px;
    position: relative;
    z-index: 1;
}
.promotion::after {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 1024px;
    top: -165px;
    left: 0;
    background: url(../images/faq_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -120px;
    z-index: -1;
}
.promotion .block_head {
    margin: 0 auto 75px;    
}
.promotion .block_head .desc {
    max-width: 876px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #64607D;
    margin: 17px auto 0;
}
.promotion_items {
    display: flex;
    margin-left: -30px;
    margin-bottom: -30px;
}
.promotion_items > * {
    width: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 54px 29px 39px 33px;
    background: #FFFFFF;
    border-radius: 20px;
}
.promotion_item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #16012C;
    margin-bottom: 7px;
    margin-top: 25px;
}
.promotion_item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    margin-bottom: 20px;
}
.promotion_item-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    background: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: flex;
    align-items: center;
}
.promotion_item .icon  {
    width: 60px;
    height: 60px;
    margin-left: -9px;
}
.promotion_item .promotion_item-link .icon {
    width: 13px;
    height: 10px;
    margin-top: 3px;
    margin-left: 5px;
}
.icon.icon-gradient {
    stroke: url(#gradientPrimary);
    fill: url(#gradientPrimary);
}
.promotion_link {
    text-align: center;
    margin-top: 64px;    
}
.promotion_link .link {
    padding: 0 8px;
    max-width: 162px;
    width: 100%;
}



/* advantages */
.advantages {
    padding: 130px 0 59px;
}
.advantages_wrap {
    padding: 50px 53px 50px 44px;
    background: #FFFFFF;
    border: 1px solid #DEE1E6;
    border-radius: 20px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.advantages_title {
    font-weight: 700;
    font-size: 34px;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: #000000;
}
.advantages_items {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 350px);
}
.advantages_item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #64607D;
}
.advantages_item .icon {
    background: #E9ECF2;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 18px;
    padding: 14px;
}



/* information */
.information {
    padding: 50px 0 150px;
    position: relative;
    background: url(../images/faq_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.information:before {
    position: absolute;
    content: "";
    width: 242px;
    height: 257px;
    right: 0;
    top: 32%;
    background: url(../images/information_bg3.svg);
}
.information_item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.information_item:last-child {
    margin-bottom: 0;
}
.information_item-img {
    box-shadow: -24.4924px 19.5939px 43.1066px rgba(0, 0, 0, 0.4);   
    border-radius: 20px; 
    width: 421px;
    height: 536px; 
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}
.information_item-img img {
    display: block;
    border-radius: 20px;
    width: 100%;
    height: 100%;   
}
.information_item-desc {
    margin-left: 69px;
}
.information_item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #000000;
    margin-bottom: 23px;
}
.information_item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}
.information_item-text p {
    margin-bottom: 30px;
}
.information_item-text p:last-child {
    margin-bottom: 0px;
}
.information_item:nth-child(2n) {
    flex-direction: row-reverse;
}
.information_item:nth-child(2n + 1) .information_item-desc {
    margin-left: 69px;
    max-width: 611px;
}
.information_item:nth-child(2n) .information_item-desc {
    margin-right: 95px;
    margin-left: 0;
    max-width: 471px;
}
.information_item:nth-child(1) .information_item-img::before {
    position: absolute;
    content: "";
    width: 393px;
    height: 393px;
    bottom: -76px;
    left: -106px;
    background: url(../images/information_bg.svg);
    z-index: -1;
}
.information_item:nth-child(1) .information_item-img::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 64px;
    top: 175px;
    left: -122px;
    background: url(../images/information_bg2.svg);
    z-index: -1;
}

.information_item:nth-child(2) .information_item-img::after {
    position: absolute;
    content: "";
    width: 395px;
    height: 211px;
    right: -110px;
    top: 186px;
    background: url(../images/information_bg4.svg);
    z-index: -1;
}
.information_item:nth-child(3) .information_item-img::before {
    position: absolute;
    content: "";
    width: 210px;
    height: 463px;
    left: -93px;
    top: -309px;
    background: url(../images/information_bg5.svg);
    z-index: -1;
}


/* service */
.service {
    padding: 88px 0 70px;
    background: url(../images/faq_bg.svg);
    background-position: -520px center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service .block_head {
    margin: 0 auto 75px;    
}
.service .block_head .desc {
    max-width: 876px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #64607D;
    margin: 17px auto 0;
}
.service_items {
    display: flex;
    margin-left: -25px;
    margin-bottom: -18px;
    flex-wrap: wrap;
}
.service_items > * {
    margin-left: 25px;
   margin-bottom: 18px;
   width: calc(100%/3 - 25px);
   padding: 33px 29px 32px 33px;
   background: #FFFFFF;
    border-radius: 20px;
}
.service_item .icon {
    width: 40px;
    height: 39px;
}
.service_item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #16012C;
    margin-bottom: 10px;
}
.service_item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}
.service_link {
    text-align: center;
    margin: 61px auto 0;
}
.hide-content {
    display: none;
    margin-top: -61px;
}
/* .service_items.hide-content .service_link {
    text-align: center;
    margin: 18px auto 0;
} */



/* standart */
.standart {
    padding: 193px 0 258px;
    background: url(../images/standart_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.standart .block_head .link {
    max-width: 200px;
    padding: 0px 21px;
}



/* team */
.team {
    padding: 50px 0;
}
.team_items {
    display: flex;
    margin-left: -22px;
}
.team_items > * {
    width: calc(100%/6 - 22px);
    margin-left: 22px;
}
.team_item-photo {
    width: 222px;
    height: 270px;
}
.team_item-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.team_item-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.03em;    
    color: #000000;   
    margin-top: 17px;
    white-space: break-spaces;
}
.team_item-post {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    margin-top: 8px;
    white-space: break-spaces;
}



/* progress */
.progress {
    padding: 137px 0 123px;
    background: #F5F8FF;
}
.progress .progress_wrap {
    display: flex;
    justify-content: space-between;
}
.progress .block_head {
    width: calc(100% - 500px);
}
.progress .block_head .title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #000000;  
    margin-bottom: 33px;
}
.progress form {
    flex-shrink: 0;
    width: 370px;
}
.progress form .line {
    margin-bottom: 24px;
}
.progress form .line .field input {
    width: 100%;
    height: 60px;
    background: #E2E8F8;
    border-radius: 70px;
    border: none;
    padding: 0 22px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #424242;
}
.progress form .line .field input::-webkit-input-placeholder {
    color:#A2A5AF;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.progress form .line .field input::-moz-placeholder {
    color:#A2A5AF;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.progress form .line .field input:-moz-placeholder {
    color:#A2A5AF;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.progress form .line .field input:-ms-input-placeholder {
    color:#A2A5AF;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.progress form button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;  
    background: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
    border-radius: 70px;
    width: 100%;
    height: 60px;
}



.video {
    padding: 98px 0 50px;
    position: relative;
    z-index: 1;
}
.video::after {
    position: absolute;
    content: "";
    width: 842px;
    height: 875px;
    top: 0;
    right: -20px;
    background: url(../images/video_bg.svg);
    z-index: -1;
}
.video::before {
    position: absolute;
    content: "";
    width: 134px;
    height: 276px;
    top: 0;
    right: 0;
    background: url(../images/video_bg2.png);
    z-index: 0;
}
.title span {
    background: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.video .block_head {
    width: calc(100% - 770px);
}
.video_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.video .video_link {
    display: block;
    position: relative;
    width: calc(100% - 530px);  
    margin-right: 60px;
}
.video .video_link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #16012C;
    opacity: 0.5;
    border-radius: 15px;
}
.video .video_link::before {
    position: absolute;
    content: "";
    width: 195px;
    height: 236px;
    bottom: -100px;
    left: -110px;
    background: url(../images/video_bg3.svg);
    z-index: -1;
}
.video .video_link {
    width: 710px;
    height: 402px;
}
.video .video_link img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.video .video_link .icon {
    width: 95px;
    height: 95px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);   
    z-index: 2;
}
.video .video_link .icon svg {
    width: 40px;
    height: 39px;
    margin-left: 7px;
}



/* sector */
.sector {
    position: relative;
    padding: 165px 0 147px;
}
.sector:before {
    position: absolute;
    content: "";
    width: 898px;
    height: 537px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/sector_bg.svg);
}
.sector:after {
    position: absolute;
    content: "";
    width: 140px;
    height: 439px;
    top: -40px;
    left: 0;
    background: url(../images/sector_bg2.svg);
}
.sector marquee:after {
    position: absolute;
    content: "";
    width: 109px;
    height: 216px;
    top: 45px;
    right: 0;
    background: url(../images/sector_bg3.svg);
}
.sector ul {
    list-style: none;
    display: flex;
}
.sector ul li {
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: relative;
    display: flex;
    min-height: 38px;
    letter-spacing: .02em;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
    border-radius: 58px;
    padding: 0 18px;
    margin-right: 19px;
    margin-bottom: 20px;
}



/* callback */
.callback {
    position: relative;
    z-index: 1;
    padding: 89px 0 250px;
}
.callback:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0px;
    z-index: 2;
    width: 69px;
    height: 257px;
    background: url(../images/callback_bg3.svg);    
}
.callback .cont {
    display: flex;
    justify-content: space-between;
}
.callback_left {
    margin-right: 62px;
    width: 598px;
}
.callback_box {
    padding-bottom: 47px;
    border-bottom: 1px solid #AFAFAF;
    margin-bottom: 35px;
}
.callback_title {
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 35px;
}
.callback_items {
    display: flex;
}
.callback_item:first-child {
    margin-right: 65px;
}
.callback_item .label {
    font-weight: 700;
    font-size: 17px;
    line-height: 180%;
    color: #000000;
}
.callback_phone {
    font-weight: 400;
    font-size: 17px;
    line-height: 180%;
    color: #696984;
    text-decoration: none;
}
.callback_email {
    font-weight: 400;
    font-size: 17px;
    line-height: 180%;
    text-decoration: none;
    background: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.callback_item p {
    font-weight: 400;
    font-size: 17px;
    line-height: 180%;
    color: #696984;
}
.callback_soc {
    display: flex;
    position: relative;
}
.callback_soc .icon {
    width: 54px;
    height: 54px;
    display: block;
}
.callback_soc a {
    margin-right: 21px;    
}
.callback_soc:before {
    position: absolute;
    content: "";
    width: 392px;
    height: 92px;
    bottom: -75px;
    left: 35px;
    background: url(../images/callback_bg.svg);
    z-index: -1;
}
.callback_right {
    position: relative;
    width: calc(100% - 660px);
}
.callback_right:before {
    position: absolute;
    content: "";
    top: 0;
    right: 60px;
    z-index: 2;
    width: 64px;
    height: 64px;
    background: url(../images/callback_bg2.svg);
}
.callback_right .callback_box {
    border: none;
}
.callback form {
    flex-shrink: 0;    
}
.callback form .line {
    margin-bottom: 21px;
}
.callback form .line .field input {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 0.728646px solid #CAD0E0;
    border-radius: 58.2917px;
    padding: 0 23px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16.0302px;
    line-height: 18px;
    letter-spacing: 0.02em;    
    color: #7A7A7A;
}
.callback form .line .field input::-webkit-input-placeholder {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16.0302px;
    line-height: 18px;
    letter-spacing: 0.02em;    
    color: #7A7A7A;
}
.callback form .line .field input::-moz-placeholder {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16.0302px;
    line-height: 18px;
    letter-spacing: 0.02em;    
    color: #7A7A7A;
}
.callback form .line .field input:-moz-placeholder {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16.0302px;
    line-height: 18px;
    letter-spacing: 0.02em;    
    color: #7A7A7A;
}
.callback form .line .field input:-ms-input-placeholder {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16.0302px;
    line-height: 18px;
    letter-spacing: 0.02em;    
    color: #7A7A7A;
}
.callback form .line .field textarea {
    width: 100%;
    height: 199px;
    background: #FFFFFF;
    border: 0.728646px solid #CAD0E0;
    border-radius: 24px;
    padding: 23px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;    
    color: #7A7A7A;
    resize: none;
}
.callback form .line .field textarea::-webkit-input-placeholder {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;    
    color: #7A7A7A;
}
.callback form .line .field textarea::-moz-placeholder {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;    
    color: #7A7A7A;
}
.callback form .line .field textarea:-moz-placeholder {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;    
    color: #7A7A7A;
}
.callback form .line .field textarea:-ms-input-placeholder {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;    
    color: #7A7A7A;
}
.callback form button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;  
    background: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
    border-radius: 70px;
    width: 100%;
    height: 60px;
}




/* accordion */
.accordion {
    padding: 125px 0 180px;
    margin-bottom: 80px;
    z-index: 1;
    position: relative;
    background: url(../images/faq_bg.svg);
    background-size: cover;
    background-position: -500px center;
    background-repeat: no-repeat;
}
.accordion_item{
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
    box-shadow: 2px 4px 60px rgba(41, 44, 124, .1);
}
.accordion_item + .accordion_item {
    margin-top: 39px;
}
.accordion_item .head {
    position: relative;
    padding: 21px 88px 21px 26px;
    cursor: pointer;
    border-left: 10px solid transparent;
    border-image: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
    border-image-slice: 1;
}
.accordion_item.active .data {
    border-top: 1px solid #CDCDCD;
}
.accordion_item .head .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 0;
}
.accordion_item .head .icon {
    color: #bce01a;
    position: absolute;
    top: 0;
    right: 27px;
    bottom: 0;
    display: block;
    width: 24px;
    height: 16px;
    margin: auto;
    transition: transform .2s linear;
}
.accordion_item .data {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    color: #696984;
    display: none;
    padding: 23px 37px 50px 37px;
}
.accordion_item .data b {
    color: #16a3b9;
}
.accordion_item.active .head .icon {
    transform: rotate(90deg);
}



/* reviews */
.reviews {
    padding: 70px 0 148px;
}
.reviews .swiper {
    overflow: visible !important;
}
.reviews .block_head {
    margin-bottom: 42px;
}
.reviews .swiper-slide.visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}
.reviews .swiper-slide {
    position: relative;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
}
.lazyload,
.swiper-lazy {
    transition: opacity .5s linear;
    opacity: 0;
}
.lazyload.loaded,
.swiper-lazy-loaded {
    opacity: 1;
}
.reviews_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews_item-icon {
    width: 31px;
    height: 27px;
    margin-bottom: 20px;
}
.reviews_item-rating {
    margin-bottom: 20px;
}
.reviews_item-rating .icon {
    width: 29px;
    height: 29px;
}
.reviews_item-img {
    width: 396px;
    height: 539px;
    position: relative;
}
.reviews_item-img:before {
    position: absolute;
    width: 134px;
    height: 134px;
    bottom: -68px;
    right: -68px;
    content: "";
    background: url(../images/reviews_bg.svg);
    z-index: -1;
}
.reviews_item-img:after {
    position: absolute;
    width: 96px;
    height: 99px;
    top: -51px;
    left: -46px;   
    content: "";
    background: url(../images/reviews_bg2.svg);
    z-index: -1;
}
.reviews_item-img img {
    width: 100%;
    height: 100%;
}
.reviews_item-info {
    width: calc(100% - 550px);
}
.reviews_item-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #1B1C31;
    margin-bottom: 21px;
}
.reviews_item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews_item-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 1px;
}
.reviews_item-post {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #757095;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: absolute;
    bottom: -33px;
    left: 0;
    display: flex;
    width: 396px;
    height: 11px;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.swiper-pagination-bullet {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    transition: .2s linear;
    pointer-events: auto;
    opacity: 1;
    border: 2px solid #fff;
    border-radius: 50%;
    background: linear-gradient(180deg, #F33726 -65.7%, #FD9B41 168.93%);
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 27px !important;
}
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active {
    border-color: #FD9B41;
    background: #fff;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}




/* footer */
footer {
    padding: 49px 0;
    background: #F4F6FB;
}
footer .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_left {
    display: flex;
    align-items: center;
}
footer .icon {
    width: 114px;
    height: 42px;
}
.footer_left-text {
    padding-left: 31px;
    margin-left: 27px;
    border-left: 1px solid #B1BDDC;
}
.footer_links a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16.5px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #64607D;
}
.footer_links a:first-child {
    padding-right: 22px;
    margin-right: 22px;
    border-right: 1px solid #626381;
}
.footer_copyright {
    margin-top: 14px;
    font-weight: 400;
    font-size: 16.5px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #64607D;
}